@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dbe8ec;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
form {
  text-align: left;
}
.formBtn {
  margin: 20px 0 10px;
  width: 100px;
  background-color: #199919;
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: white;
}
.formBtn:hover {
  background-color: #2dd02d;
}